  
  header {
    display: flex;
    justify-content: space-between;
    background-image: url(https://cdn.mos.cms.futurecdn.net/9QTpESGBXa32D29J77VR3d.jpg);
    color: #ffffff;
    padding: 3vh;
    height: 100px;
  }
  



body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    margin: 0px;
  }
  

  
  time {
    min-width: 85px;
  }
  
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 0 10px 2px;
    width: 800px;
    max-width: 80%;
    margin-left: 250px;
  }
  
  
  .button {
    display: block;
    color: #ffffff;
    background-color:navy;
    padding: 2vh;
    border-radius: 8px;
    border: none;
  }
  
  
  .card {
    max-width: 80%;
    margin-top: 15vh;
    border: solid;
    border-width: 2px;
    padding: 5vw;
    border-radius: 30px;
    border-color: lightgray;
    box-shadow: 10px 5px 5px lightgray;
  }
  
  
  
  
  
  .option-button {
    width: 100%;
    text-align: left;
    margin: 5px;
  }
  
  #result-pick {
    display: none;
  }
  

  
  .inline-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  #name {
    width: 25%;
    margin: 8px;
    padding: 1vh;
  }